{% load static %}
<!-- ! stiller start -->
<section class="stiller">
    <div class="container still-bg p-3">
      <div class="stil-title">
        <h1 class="fs-4">Get The Look</h1>
        <p>#BCCSTYLE</p>
      </div>
      <div class="stiller-wrapper">
        <div class="card cursor">
          <div class="img-stiller">
            <img class="stil-img" src="{% static 'img/erkekStiller/street.jpg' %}" alt="">
            <div class="stil-text">
              <p>Streetwear</p>
            </div>
          </div>
          
        </div>
        <div class="card cursor">
          <div class="img-stiller">
            <img class="stil-img" src="{% static 'img/erkekStiller/casual.jpg' %}" alt="">
            <div class="stil-text">
              <p>Casual</p>
            </div>
          </div>
          
        </div>
        <div class="card cursor">
          <div class="img-stiller">
            <img class="stil-img" src="{% static 'img/erkekStiller/trendy.jpg' %}" alt="">
            <div class="stil-text">
              <p>Trendy</p>
            </div>
          </div>
          
        </div>
        <div class="card cursor">
          <div class="img-stiller">
            <img class="stil-img" src="{% static 'img/erkekStiller/formal.jpg' %}" alt="">
            <div class="stil-text">
              <p>Formal</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="stil-btn">
        <a class="btn btn-dark" href="#">Tüm Stilleri Görüntüle</a>
      </div>
    </div>
    
    </section>
    <!-- ! stiller end -->
    <br><hr>